<div class="login_page">
    {{> alert}}
    <form action="/login/auth" method="POST">
        <div class="input_group">
            <label>Утасны дугаар</label>
            <input type="text" name="phone" />
        </div>

        <div class="input_group">
            <label>Нууц үг</label>
            <input type="password" name="password" />
        </div>

        <button>Нэвтрэх</button>
    </form>
</div>